.hide-scrollbar__blog {
  overflow-y: scroll;

  overflow-x: hidden;
}

.hide-scrollbar__blog::-webkit-scrollbar {
  background-color: $lightestGreen;

  border-radius: 10px;

  width: 20px;
}

.hide-scrollbar__blog::-webkit-scrollbar-thumb {
  background-color: $darkest;
  border-radius: 10px;
  border: 5px solid $lightestGreen;
}

.hide-scrollbar__blog::-webkit-scrollbar-thumb:vertical {
  height: 20px !important;

  width: 20px;
}
