body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@import './partials/variables';
@import './partials/blog';
@import './partials/scrollbar';
@import './pages/homepage';
